.svg-animate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
}

.content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
  gap: 0.2rem;
  width: 100%;
  overflow: hidden;
  padding: 2rem;
}

.anime-content {
  padding: 1rem;
  width: 130px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.pagination-btn {
  padding: 0.3rem 0.8rem;
  background-color: var(--title-color-dark);
  border-radius: 0.25rem;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1200px) {
  .content {
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }
}

@media screen and (max-width: 900px) {
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
    padding: 0.5rem;
  }
}

@media screen and (max-width: 350px) {
}
