aside {
  height: 100vh;
  width: 250px;
  color: var(--title-color);
  background-color: var(--body-color-dark);
  overflow-y: auto;
  padding-bottom: 4rem;
}

#light aside {
  background-color: var(--title-color);
  color: var(--body-color-dark);
}

aside ul {
  padding: 0;
}

.category {
  font-size: var(--normal-font-size);
  padding: 1.5rem 0 1.5rem 1.5rem;
  border-top: 1px solid #666666;
}

#light .btn {
  color: var(--body-color-dark);
}

.btn-link {
  display: flex;
  align-items: center;
  padding: 0.7rem 1.5rem;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  color: var(--title-color);
}

#light .btn-link {
  color: var(--body-color-dark);
}

.btn-link:hover {
  background-color: rgba(220, 220, 220, 0.1);
}

#light .btn-link:hover {
  background-color: rgba(220, 220, 220, 0.3);
}

.icon {
  font-size: 1.5rem;
  margin-top: 0.3rem;
}

.category-name {
  font-size: var(--normal-font-size);
  padding-right: 1rem;
  text-align: center;
}

@media screen and (max-width: 576px) {
  aside {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    background-color: var(--container-color-dark);
    transform: translateX(200%);
    overflow-y: auto;
    z-index: 1200;
    transition: 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 10px -5px,
      rgba(0, 0, 0, 0.14) 0px 16px 24px 2px,
      rgba(0, 0, 0, 0.12) 0px 6px 30px 5px;
  }

  .show-menu {
    transform: translateX(0);
  }

  .menu-btn {
    display: block;
    margin-top: 0.45rem;
    padding: 0;
    font-size: 1.5rem;
    border: none;
    outline: none;
    background: transparent;
    color: var(--title-color);
    cursor: pointer;
  }
}