@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

#light {
  background-color: #fff;

}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
  --header-height: 3rem;

  /*========== Colors ==========*/

  
  --title-color: #fff;
  --title-color-dark: #a5a5a5;
  --text-color-dark: rgba(249, 211, 180, 1);
  --body-color-dark: rgb(18, 18, 18);
  --container-color: #E0E0E0;
  --container-color-dark: #212426;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  /*.5rem = 8px | 1rem = 16px ...*/
  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}


/* Responsive typography */
@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-roboto);
  background-color: var(--body-color-dark);
}

body::-webkit-scrollbar {
  display: none;
}

.scroll-bar::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: var(--title-color-dark);
  height: 200px;
}

.scroll-bar::-webkit-scrollbar-track {
  background-color: #DADEDF;
}

a {
  text-decoration: none;
  color: var(--title-color);
}

button {
  background-color: transparent;
}

hr {
  border: 1px solid #DADEDF;
}

li {
  list-style: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/

.dim {
  background-color: rgba(0, 0, 0, 0.5);
}

.react-paginate-previous,
.react-paginate-next {
  cursor: pointer;
}

.App {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  border: none;
  outline: none;
  background: transparent;
  color: var(--title-color);
  cursor: pointer;
}

 /* ================= HEADER ===================== */

header {
  position: sticky;
  left: 0;
  top: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  color:  var(--title-color);
  background-color: var(--body-color-dark);
  overflow-y: auto;
}

#light header {
  background-color: var(--title-color);
}

#light header{
  color: var(--body-color-dark);
}

.logo {
  padding: 1.1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  color: var(--text-color-dark);
}

.logo span {
  color: var(--title-color);
  margin-left: 0.5rem;
}

#light .logo span {
  color: var(--body-color-dark);
}


.category {
  font-size: var(--normal-font-size);
  padding: 1.5rem 0 1.5rem 1.5rem;
  border-top: 1px solid var(--title-color-dark);
}

.btn {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  border: none;
  outline: none;
  background: transparent;
  color: var(--title-color);
  cursor: pointer;
}

#light .btn {
  color: var(--body-color-dark);
}

.btn-link {
  display: flex;
  align-items: center;
  padding: 0.7rem 1.5rem;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  color: var(--title-color);
}

#light .btn-link {
  color: var(--body-color-dark);
}

.btn-link:hover {
  background-color: rgba(220, 220, 220, 0.1);
}

#light .btn-link:hover {
  background-color: rgba(220, 220, 220, 0.3);
}
.categoty-name{
  font-size: var(--normal-font-size);
  padding-right: 1rem;
  text-align: center;
}

.icon {
  font-size: 1.5rem;
  margin-top: 0.3rem;
}


 /* ================= MAIN ===================== */

main {
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
}

nav {
  position: relative;
  transition: top 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--container-color-dark);
  padding: 1.5rem;
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}


.menu-btn {
  display: none;
}

#light nav {
  background-color: var(--container-color);
}

.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: var(--title-color);
  background: transparent;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

#light .login {
  color: var(--body-color-dark);
}

.login:hover {
  background-color: rgba(220, 220, 220, 0.3);
}

.nav-icons {
  margin: 0.45rem 0 0 0.5rem;
  cursor: pointer;
}

#light .nav-icons {
  color: var(--body-color-dark);
}

.search-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding: .5rem 1rem;
  display: inline-flex;
  min-width: 0px;
  vertical-align: top;
}

.hide-search{
  display: none;
}

.search input {
  font-size: 1.25rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;
  outline: none;
  color: var(--title-color);
  background: transparent;
}

#light .search input {
  color: var(--body-color-dark);
}


.search img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.content {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem; */
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  overflow: auto;
  justify-content: space-between;
  /* gap: var(--mb-0-75); */
  /* align-items: center; */
  padding: 2rem;
}

.anime-content {
  padding: 1rem;
}

.anime-content {
  flex-basis: 25%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 25%;
}

.anime-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 350px;
  border-radius: 1rem;
  margin: 0;
}

.anime-card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1)
}

.anime-image {
  border-radius: var(--mb-1);
  object-fit: cover;
  height: 300px;
  width: 200px;
  transition: 0.1s ease-in-out;
}

.anime-image:hover {
  transform: scale(1.04);
}

.anime-title {
  font-size: var(--mb-1-25);
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 10px;
  width: 100%;
  color: var(--title-color);
}

#light .anime-title {
  color: var(--body-color-dark);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pagination-btn {
  padding: 0.3rem 0.8rem;
  background-color: var(--title-color-dark);
  border-radius: 0.25rem;
}

.anime-details {
  padding: 2rem 3rem;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  /* justify-content: space-between; */
  gap: 3rem;
  color: var(--title-color);
}

#light .anime-details {
  color: var(--body-color-dark);
}

.details-left {
  flex-basis: 33.3333%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 33.3333%;
}

.anime-detail-img {
  width: 80%;
  /* height: 350px; */
  box-shadow: 0.5em 1em 1em rgb(64, 64, 70);
  border-radius: 20px;
}

.details-right {
  flex-basis: 58.3333%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 58.3333%;
}

.anime-details-title {
  margin: 0px 0px 0.35em;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.167;
  letter-spacing: 0em;
  text-align: center;
}

.alternate-titles {
  padding: 1rem 0;
}

.alternate-title {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  justify-content: space-around;
}

.anime-type {
  padding: 1rem 0;
}

.anime-details-genres {
  margin: 10px 0 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.anime-overview > p {
  padding: 1rem 0;
}

.watch-link {
  margin-top: 1rem;
  color: rgb(144, 202, 249);
  border: 1px solid rgb(144, 202, 249);
  border-radius: 0.3rem;
  padding: 0.3rem 1rem;
  background: transparent;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1200px) {
  .anime-content {
    flex-basis: 33.3333%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 33.3333%;
  }
  
}

@media screen and (max-width: 900px) {
  .anime-content {
    flex-basis: 50%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 50%;
  }
  
}

/* For medium devices */
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }

  .anime-content {
    flex-basis: 50%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 50%;
  }

  .search input {
    width: 100px;
  }

  .details-left {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
  }

  .details-right {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 576px) {
  header {
    position: fixed;
    height: 100%;
    width: 240px;
    background-color: var(--container-color-dark);
    transform: translateX(-100%);
    overflow-y: auto;
    z-index: 1200;
    transition: 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 10px -5px, rgba(0, 0, 0, 0.14) 0px 16px 24px 2px, rgba(0, 0, 0, 0.12) 0px 6px 30px 5px;
  }

  .scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .show-menu {
    transform: translateX(0);
  }

  .menu-btn {
    display: block;
    margin-top: 0.45rem;
  }
  /* .logo {
    font-size: 2rem;
  } */

  nav {
    padding: 0 1rem;
  }
  
  .search {
    display: flex;
    flex-basis: 100%;
    order: 4;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 1rem;
    padding: 0.25rem 0.75rem;
    /* margin-left: 7rem; */
  }

  .search-content {
    padding-top: 0;
  }

  .search input {
    width: 150px;
    padding: 0rem 0.25rem;
    font-size: 0.85rem;
  }

  .search img {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .anime-content {
    flex-basis: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
  }

}

/* For small devices */
@media screen and (max-width: 350px) {
  :root {
    --big-font-size: 2.25rem;
  }

  .search {
    padding: 0.25rem;

  }

  .search input {
    width: 100px;
    padding: 0.25rem;
    font-size: 1rem;
  }

}
