@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
  --header-height: 3rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /* --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 20%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: hsl(var(--hue), var(--sat), 46%);
  --body-color: hsl(var(--hue), var(--sat), 98%);
  --container-color: #fff;
   */
  --hue: 0;
  --sat: 0%;
  --title-color: #fff;
  --title-color-dark: #a2a2a2;
  --text-color: rgba(249, 211, 180, 1);
  --body-color: #212426;
  --container-color: #212426;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  /*.5rem = 8px | 1rem = 16px ...*/
  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive typography */
@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-roboto);
  background-color: var(--body-color);
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  padding: 6rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: 4rem;
}

.section__title {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  padding: var(--mb-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  /* font-family: var(--font-raleway); */
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color);
}

.logo span {
  color: var(--title-color);
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.nav-link {
  color: var(--title-color);
  font-family: var(--font-roboto);
  font-size: var(--mb-1-25);
}

.nav-link:hover {
  color: var(--text-color);
}


.search {
  /* width: 71%; */

  display: flex;
  border-bottom: 1px solid white;
  align-items: center;
  justify-content: center;
  padding: .5rem 1rem;
}

.search input {
  font-size: 1.25rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;
  outline: none;
  color: #a1a1a1;
  background: transparent;
}

.search:hover {
  border-color: var(--text-color);
}

.search img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.animes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--mb-0-75);
  align-items: center;
}

.anime-content {
  display: grid;
  place-items: center;
  /* background-color: var(--text-color); */
}

.anime-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 350px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
  border-radius: 0.5rem;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.anime-content:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1)
}

.anime-image {
  border-radius: var(--mb-1);
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.anime-title {
  font-size: var(--mb-1-25);
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 10px;
  width: 100%;
  color: var(--title-color);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }
}

@media screen and (max-width: 576px) {
  .container {
    margin-left: var(--mb-0-75);
    margin-right: var(--mb-0-75);
  }

  .logo {
    font-size: 1.25rem;
  }

  .search {
    padding: 0.25rem 0.75rem;
  }

  .search input {
    width: 130px;
    padding: 0rem 0.25rem;
    font-size: 0.85rem;
  }

  .search img {
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  :root {
    --big-font-size: 2.25rem;
  }
  
  .container {
    margin-left: var(--mb-0-25);
    margin-right: var(--mb-0-25);
  }

  .search {
    padding: 0.25rem;

  }

  .search input {
    width: 100px;
    padding: 0.25rem;
    font-size: 1rem;
  }

  .logo {
    font-size: 1.25rem;
  }
}
