@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

#light {
  background-color: #fff;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
  --header-height: 3rem;

  /*========== Colors ==========*/
  --title-color: #fff;
  --title-color-dark: #a5a5a5;
  --text-color-dark: rgba(249, 211, 180, 1);
  --body-color-dark: rgb(18, 18, 18);
  --container-color: #e0e0e0;
  --container-color-dark: #212426;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  /*.5rem = 8px | 1rem = 16px ...*/
  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive typography */
@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-roboto);
  background-color: var(--body-color-dark);
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: var(--title-color);
}

button {
  background-color: transparent;
}

hr {
  border: 1px solid #dadedf;
}

li {
  list-style: none;
}

.App {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/

.scroll-bar::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: var(--title-color-dark);
  height: 200px;
}

.scroll-bar::-webkit-scrollbar-track {
  background-color: #dadedf;
}

.dim {
  background-color: rgba(0, 0, 0, 0.5);
}

.react-paginate-previous,
.react-paginate-next {
  cursor: pointer;
}

.btn {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  border: none;
  outline: none;
  background: transparent;
  color: var(--title-color);
  cursor: pointer;
  margin-left: 0.4rem;
  margin-top: 0.3rem;
}

main {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
}

/* For medium devices */
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }
}

@media screen and (max-width: 576px) {
  .scroll-bar::-webkit-scrollbar {
    display: none;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  :root {
    --big-font-size: 2.25rem;
  }
}